<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
<link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="card-login">

    <div class="logo">
        👤
    </div>

    <h1 class="titulo">

        Crear

        <span class="dorado">

            Cuenta

        </span>

    </h1>

    <p class="subtitulo">

        Regístrate para comenzar

    </p>

    <form action="/register" method="POST">

        <label>Nombre</label>

        <input
            type="text"
            name="nombre"
            class="form-control"
            required>

        <label>Correo</label>

        <input
            type="email"
            name="correo"
            class="form-control"
            required>

        <label>Contraseña</label>

        <input
            type="password"
            name="contraseña"
            class="form-control"
            required>

        <button class="btn-personal">

            Registrarse

        </button>

    </form>

    <div class="registro">

        ¿Ya tienes una cuenta?

        <br><br>

        <a href="/login">

            Inicia sesión

        </a>

    </div>

</div>

</body>
</html>